
  <h1 class="display-4">Welcome to the site</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/" role="button">Get started</a>
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
